 .sidebar li {
     display: flex;
     align-items: center;
     gap: 20px;
 }

 .sidebar li a {
     color: white;
     text-decoration: none;
     font-weight: 500;
     transition: color 0.3s ease;
 }

 .sidebar li a:hover {
     color: #ffdada;
 }